<div class="w-100 mb-3">
  <button mat-raised-button color="primary" (click)="openDialog()" class="">Novo Livro</button>
</div>

<div class="row mb-5 container">
  <div class="col-md-4 mt-5" *ngFor='let livro of livros'>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{livro.nome}}</mat-card-title>
        <mat-card-subtitle>{{livro.editora}} - {{livro.anoDePublicacao}}</mat-card-subtitle>
        <img mat-card-md-image src="{{livro.imagemUrl}}">
      </mat-card-title-group>
      <mat-card-content>
        Quantidade em estoque: {{livro.quantidadeExemplares}}
        <br>
        <button mat-raised-button color="accent" (click)="openDialogEditar(livro.isbn)" class="me-2">Editar</button>
        <button mat-raised-button color="warn" (click)="excluirLivro(livro.isbn)" class="">Excluir</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>